<!doctype html>
<html  class="x-admin-sm" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>登录</title>
    <link rel="stylesheet" th:href="@{/xadmin/css/login.css}">
    <header th:replace="header::html"></header>
</head>
<body class="login-bg">
    <div class="login layui-anim layui-anim-up">
        <div class="message">高校学生宿舍报修管理系统登录</div>
        <div id="darkbannerwrap"></div>
        
        <form method="post" class="layui-form" >
            <input name="id" placeholder="账号"  type="text" lay-verify="required" class="layui-input" >
            <hr class="hr15">
            <input name="password" lay-verify="required" placeholder="密码"  type="password" class="layui-input">
            <hr class="hr15">
            <select name="sole" lay-verify="identity|required">
                <option value="">请选择身份</option>
                <option value="1">学生</option>
                <option value="2">维修员</option>
                <option value="3">管理员</option>
            </select>
            <hr class="hr15">
            <input value="登录" lay-submit lay-filter="login" style="width:100%;" type="submit">
            <hr class="hr20" >
            <a href="/api/getPage?pageName=register" style="float: right">没有账号，前往注册</a>
        </form>
    </div>

<script>

    layui.use('form', function(){
        let form = layui.form;
        form.on('submit(login)', function(data){
          $.ajax({
              url: '/login',
              type:'post',
              dataType:'json',
              data: data.field,
              success:function (info) {
                  console.log(info);
                  if(info.code===200){
                      layer.msg('登录成功');
                      location.href = info.msg;
                  }else if(info.code === 1000 ||info.code ===5000601){
                      layer.msg(info.msg);
                  }else {
                      layer.msg('登录失败');
                  }
              },
              error:function () {
                  layer.msg('系统错误');
              }
          });
        return false;
      });
    });

</script>
<!-- 底部结束 -->

</body>
</html>