<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>学生报修首页</title>
    <header th:replace="header::html"></header>
</head>
<body>
<div style="background-color:#393D49">
    <div class="layui-container" >
        <ul class="layui-nav" lay-filter="">
            <li class="layui-nav-item "><a href="">首页</a></li>
            <span class="site-right">
            <li class="layui-nav-item"><a href="javascript:" onclick="failure()">故障申报</a></li>
            <li class="layui-nav-item ">
                <a href="javascript:;" th:text="${student.name}"></a>
                <dl class="layui-nav-child"> <!-- 二级菜单 -->
                    <dd><a href="javascript:" onclick="selfInfo()">个人信息</a></dd>
                    <dd><a href="">退出</a></dd>
                </dl>
            </li>
        </span>
        </ul>
    </div>
</div>
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-card"  style="margin-top: 20px;" >
            <div class="layui-card-body">
                <div class="layui-row">
                    <form class="layui-form">
                        <span class="layui-inline">
                            <input type="text" name="content" placeholder="请输入搜索内容" autocomplete="off" class="layui-input">
                        </span>
                        <span class="layui-inline">
                            <button class="layui-btn" lay-submit="" lay-filter="search"><i class="layui-icon">&#xe615;</i></button>
                        </span>
                    </form>
                </div>
                <!--  渲染内容              -->
                <div id="view"  class="self-top"></div>
                <!-- 分页               -->
                <div id="test1"></div>
            </div>
        </div>
    </div>
</div>

<script id="demo" type="text/html">
    {{#  layui.each(d, function(index, item){ }}
        {{#  if(item.state === 1||item.state === 2){ }}
        <blockquote class="layui-elem-quote layui-bg-orange" >
        {{#  } else { }}
        <blockquote class="layui-elem-quote">
        {{#  } }}
            <span>{{item.content}}</span>
            <span class="site-right">{{layui.util.toDateString(item.ctime, 'yyyy-MM-dd HH:mm:ss')}}</span>
        </blockquote>
    {{#  }) }}

    {{#  if(d.length === 0){ }}
        <blockquote class="layui-elem-quote" >
            无数据
        </blockquote>
    {{#  } }}
</script>


<script th:inline="javascript">
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use(['laypage','laytpl','util','form','element'], function(){
        let laytpl = layui.laytpl;
        let laypage = layui.laypage;
        let  form = layui.form;
        let element = layui.element;
        let sno = [[${student.sno}]];


        // 编辑个人信息
        selfInfo = function(){
            layer.open({
                type: 2,
                title: '个人信息编辑',
                shadeClose: true,
                shade: false,
                maxmin: true, //开启最大化最小化按钮
                area: ['90%','70%'],
                content: "/student/edit/"+sno,
            });
        };




        // 故障申报
        failure = function(){
            layer.open({
                type: 2,
                title: '故障申报',
                shadeClose: true,
                shade: false,
                maxmin: true, //开启最大化最小化按钮
                area: ['90%','70%'],
                content: "/repairs/declare/"+sno,
            });
        };

        //执行一个laypage实例
        laypage.render({
            elem: 'test1' //注意，这里的 test1 是 ID，不用加 # 号
            ,count: [[${count}]] //数据总数，从服务端得到
            ,jump: function(obj, first){
                // 1. 获取分页数据
                $.ajax({
                    url: '/student/repair',
                    type:'post',
                    dataType:'json',
                    data:{
                        sno:sno,
                        page:obj.curr,
                        limit:obj.limit
                    },
                    success:function (info) {
                        if(info.code == 500){
                            layer.alert(info.msg);
                        }else{
                            // 1. 数据赋值
                            let data = info.data;
                            // 2. 页面渲染
                            let getTpl = demo.innerHTML
                                ,view = document.getElementById('view');
                            laytpl(getTpl).render(data, function(html){
                                view.innerHTML = html;
                            });
                        }
                    },
                    error:function () {
                        layer.msg('系统错误');
                    }
                });
            }
        });



        form.on('submit(search)', function(data){
            let count = 0;
            $.ajax({
                url: '/student/repairCount',
                type:'post',
                dataType:'json',
                async:false,  // 关闭异步，不然全局变量无法接收
                data:{
                    sno:sno,
                    content: data.field.content
                },
                success:function (info) {
                    count=info.data;
                }
            });
            laypage.render({
                elem: 'test1' //注意，这里的 test1 是 ID，不用加 # 号
                ,count: count //数据总数，从服务端得到
                ,jump: function(obj, first){
                    // 1. 获取分页数据
                    $.ajax({
                        url: '/student/repair',
                        type:'post',
                        dataType:'json',
                        data:{
                            sno:sno,
                            page:obj.curr,
                            limit:obj.limit,
                            content: data.field.content
                        },
                        success:function (info) {
                            if(info.code == 500){
                                layer.alert(info.msg);
                            }else{
                                // 1. 数据赋值
                                let data = info.data;
                                // 2. 页面渲染
                                let getTpl = demo.innerHTML
                                    ,view = document.getElementById('view');
                                laytpl(getTpl).render(data, function(html){
                                    view.innerHTML = html;
                                });
                            }
                        },
                        error:function () {
                            layer.msg('系统错误');
                        }
                    });
                }

            });

            return false; //禁止点击整个后页面刷新
        });
    });
</script>

</body>
</html>